<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DASHBOARD</title>
  </head>
  <body>
    name : <%=name%>
    email : <%=email%>
    password : <%=password%>
  </body>
</html>
