<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hello world!</h1>
    <form class="" action="/login" method="post">
      <input type="email" name="email" value="">
      <input type="password" name="password" value="">
      <input type="submit" name="" value="REGISTER YOURSELF">
    </form>
    <a href="/">REGISTER</a>
  </body>
</html>
